<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1071173191697-1i0kp01rr77ln3t39c8pej8dqg5mr2rd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1071173191697-1i0kp01rr77ln3t39c8pej8dqg5mr2rd</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1071173191697-ti2oa3r8qgf1h596gka0ll5ulkfjcbno.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCc7NEYkQEIvE2tWU3JfFQyTAmbSZx43VI</string>
	<key>GCM_SENDER_ID</key>
	<string>1071173191697</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ola.mysiukk.PetPal1</string>
	<key>PROJECT_ID</key>
	<string>chatapp-e00b1</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapp-e00b1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1071173191697:ios:0d858c1572ce8e2ffe89b0</string>
</dict>
</plist>